/* src/styles/App.css */
.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f8f8f8;
  padding: 20px;
}

.content-container {
  display: flex;
  flex: 1;
  padding: 20px;
}

.main-content {
  flex: 2;
}

.user-profile {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
}
