.main-content {
  flex: 1;
  padding: 40px;
  background-color: #fff;
}

.metrics {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.main-content h2 {
  margin-bottom: 20px;
}
